<a href="https://colab.research.google.com/github/XCraftMan52/CSCI209/blob/main/CSCI209_Week1_Classwork_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Example 1

In [1]:
age = 21
days = 365 * age
msg = "You have lived this many days:"
print(msg, days)
age = 41
days = 365 * age
print(msg, days)

You have lived this many days: 7665
You have lived this many days: 14965

## Example 2

In [2]:
a = 4 # a stores 4
b = "Hello World!"
c = False
p1_points = 1337

## Example 3

In [3]:
a = 4 + 2
b = a * 2
a = 100
c = 10 - b
d = 10 // 5 # int division
e = 11 // 4 # the quotient
f = 11 % 4 # the remainder
g = 11 / 4 # Ugh! Decimal Numbers!

## Example 4

In [12]:
a = True
b = False
# or is True if 1 side is True
c = True or False
# and is True if both sides are True
d = False and True
# not negates the boolean
e = not ((c and d) or True)
x = 10
f = (x > 5)
g = (x <= 12)
h = (x == 9)
i = (x != 10)

## Example 5

In [4]:
print("Hello World!")
a = "The answer is"
b = 6 * 7
print(a, b)
print(False, "Hobbit", 1, "Ring")

Hello World!
The answer is 42
False Hobbit 1 Ring

## Example 6

In [5]:
print("Hi. What would you like to drink?")
age = 5
if age >= 21: # Block starts on next line
    print("Beer") # Block line 1
    print("Wine") # Block line 2
print("Coke")
print("Water")
if age <= 8:
    print("Milk")
    print("Juice")

Hi. What would you like to drink?
Coke
Water
Milk
Juice

## Example 7

In [11]:
p1 = 354
p2 = 387
if p1 > p2:
    print("Player 1 Wins!")
else:
    print("Player 2 Wins!")

Player 2 Wins!

## Example 8

In [10]:
temp = 83
if temp > 90:
    print('Too hot!')
elif temp > 80:
    print('A little bit too warm.')
elif temp > 70:
    print('Just right.')
elif temp > 60:
    print('A little bit too cool.')
else:
    print('Too cold!')

A little bit too warm.

## Example 9

In [9]:
num = 5
while num > 0:
    num += -2
    print(num)

3
1
-1

## Example 10

In [8]:
a = [15, 2, 34, 87]
b = a[0] # get the first value with index 0
c = a[2] # get the third valeu with index 2
d = a[-1] # get the last value with index -1
e = len(a) # the number of values

## Example 11

In [7]:
nums = [10, 30, 20, 50]
for i in range(0, len(nums)):
    print("Index", i, "Value", nums[i])

Index 0 Value 10
Index 1 Value 30
Index 2 Value 20
Index 3 Value 50

## Example 12

In [13]:
nums = [10, 30, 20, 50]
for x in nums:
    print("Value", x)

Value 10
Value 30
Value 20
Value 50

## Example 13

In [14]:
grades = [99, 88, 95, 101, 65]
total = 0
for g in grades:
    total += g
avg = total // len(grades)
print("Average is", avg)

Average is 89

## Example 14

In [15]:
a = ["Bob", "Lisa", "Tom"]
b = ["Sally", "Sam"]
c = a + b
c += ["John"]
d = c[0:2]
e = c[-3:-1]

## Example 15

In [16]:
def bob(a, b):
    c = 2 * a + b
    return c

x = bob(1, 2)
y = x + bob(x, 3)