<a href="https://colab.research.google.com/github/XCraftMan52/CSCI209/blob/main/CSCI209_Week1_Homework_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Homework 1
a=14

large=3

b=7

c=1

d=True

e=False

sheep=True

In [1]:
a = 6 + 8
large = a // 4
b = 22 // 3
c = 22 % 3
d = False or True
e = True and False
sheep = (True or (b > 10))

## Homework 2

### Printed Output

Hello World!

The answer is 42

False Hobbit 1 Ring

In [2]:
print("Hello World!")
a = "The answer is"
b = 6 * 7
print(a, b)
print(False, "Hobbit", 1, "Ring")

Hello World!
The answer is 42
False Hobbit 1 Ring

## Example 3

This code would print out the word Welcome for as many times as the count variable is definied for

In [5]:
while count > 0:
    print("Welcome")
    count -= 1

NameError: name 'count' is not defined

## Example 4

1

9

25

49

100

In [4]:
numbers = [1, 3, 5, 7, 10]
sq = 0
for val in numbers:
    sq = val * val
    print(sq)

1
9
25
49
100

## Example 5
1

3

5

7

9

11

13

15

17

19

In [3]:
for i in range(1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19